USE [master]
GO
/****** Object:  Database [pr1-22-vodyannikoves_up2_day2_part2]    Script Date: 28.03.2022 13:50:22 ******/
CREATE DATABASE [pr1-22-vodyannikoves_up2_day2_part2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pr1-22-vodyannikoves_up2_day2_part2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\pr1-22-vodyannikoves_up2_day2_part2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'pr1-22-vodyannikoves_up2_day2_part2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\pr1-22-vodyannikoves_up2_day2_part2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pr1-22-vodyannikoves_up2_day2_part2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pr1-22-vodyannikoves_up2_day2_part2]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 28.03.2022 13:50:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Insurance]    Script Date: 28.03.2022 13:50:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insurance](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[Country] [int] NULL,
	[Address] [varchar](150) NOT NULL,
	[INN] [int] NOT NULL,
	[PP] [int] NOT NULL,
	[BIK] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login_History]    Script Date: 28.03.2022 13:50:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login_History](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[IPatient] [int] NULL,
	[IPaddress] [varchar](30) NOT NULL,
	[Browser] [varchar](max) NOT NULL,
	[UA] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 28.03.2022 13:50:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[LastName] [varchar](35) NOT NULL,
	[Name] [varchar](35) NOT NULL,
	[GuID] [varchar](max) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[SocialSecNumber] [int] NOT NULL,
	[EIN] [varchar](50) NOT NULL,
	[Phone] [varchar](25) NOT NULL,
	[Social_Type] [int] NULL,
	[Passport_Serial] [int] NOT NULL,
	[Passport_Number] [int] NOT NULL,
	[BirthDate] [date] NOT NULL,
	[IInsurance] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[patients$]    Script Date: 28.03.2022 13:50:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patients$](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[fullname] [nvarchar](255) NULL,
	[login] [nvarchar](255) NULL,
	[pwd] [nvarchar](255) NULL,
	[guid] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[social_sec_number] [float] NULL,
	[ein] [nvarchar](255) NULL,
	[social_type] [nvarchar](255) NULL,
	[phone] [nvarchar](255) NULL,
	[passport_s] [float] NULL,
	[passport_n] [float] NULL,
	[birthdate_timestamp] [float] NULL,
	[country] [nvarchar](255) NULL,
	[insurance_name] [nvarchar](255) NULL,
	[insurance_address] [nvarchar](255) NULL,
	[insurance_inn] [float] NULL,
	[insurance_p] [float] NULL,
	[insurance_bik] [float] NULL,
	[ipadress2] [nvarchar](255) NULL,
	[ua] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Social_License]    Script Date: 28.03.2022 13:50:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Social_License](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 28.03.2022 13:50:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[IPatient] [int] NULL,
	[Login] [varchar](max) NOT NULL,
	[Password] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[patients$] ON 

GO
SET IDENTITY_INSERT [dbo].[patients$] OFF
GO
ALTER TABLE [dbo].[Insurance]  WITH CHECK ADD FOREIGN KEY([Country])
REFERENCES [dbo].[Country] ([ID])
GO
ALTER TABLE [dbo].[Login_History]  WITH CHECK ADD FOREIGN KEY([IPatient])
REFERENCES [dbo].[Patient] ([ID])
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD FOREIGN KEY([IInsurance])
REFERENCES [dbo].[Insurance] ([ID])
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD FOREIGN KEY([Social_Type])
REFERENCES [dbo].[Social_License] ([ID])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([IPatient])
REFERENCES [dbo].[Patient] ([ID])
GO
USE [master]
GO
